# Framework Web
Django>=5.0,<5.1  # El núcleo de nuestra aplicación. Versión 5 para aprovechar las últimas características.

# Servidor de Aplicaciones (WSGI)
gunicorn>=21.2.0  # Servidor HTTP para producción. Maneja las peticiones antes de pasarlas a Django.

# Base de Datos
psycopg2-binary>=2.9.9  # Adaptador de base de datos PostgreSQL para Python.

# Caché y Colas de Tareas
redis>=5.0.1  # Cliente de Redis para Python. Usado para caché y sesiones.
django-redis>=5.4.0  # Integración de Redis con el sistema de caché de Django.

# Utilidades
python-dotenv>=1.0.1  # Permite leer variables de entorno desde un archivo .env local.
Pillow>=10.2.0  # Librería de procesamiento de imágenes (útil para avatares en UserProfile).
django-fsm==3.0.1
django-q2>=1.6.0
pandas>=2.0.0
numpy<2.0.0
openpyxl>=3.1.0
whitenoise>=6.6.0
docxtpl>=0.20.2